# This file is used by Streamlit to manage secrets.
# Rename this file to secrets.toml and fill in your API keys.
# DO NOT COMMIT THIS FILE TO VERSION CONTROL.
# Add it to your .gitignore file.

# YouTube Data API Key
YOUTUBE_API_KEY = "YOUR_YOUTUBE_API_KEY_HERE"

# Web3.Storage API Token for IPFS
WEB3_STORAGE_TOKEN = "YOUR_WEB3_STORAGE_API_TOKEN_HERE"
